.bd1{margin:auto;display:table}
.cgpaform{margin:auto;display:table}
.p1{text-align:center}
.tg{border-collapse:collapse;border-spacing:0;border:none;border-color:#bbb}
.tg td{font-family:Arial,sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0;overflow:hidden;word-break:normal;border-color:#bbb;color:#594F4F;background-color:#E0FFEB}
.tg th{font-family:Arial,sans-serif;font-size:14px;font-weight:400;padding:10px 5px;border-style:solid;border-width:0;overflow:hidden;word-break:normal;border-color:#bbb;color:#493F3F;background-color:#9DE0AD}
.tg .tg-ok3r{background-color:#C2FFD6;text-align:left}
.tg .tg-0ord{text-align:right}
.tg .tg-s6z2{text-align:center}
.tg .tg-2c7p{background-color:#C2FFD6;text-align:center}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-ke52{background-color:#9DE0AD;text-align:left}
.tg .tg-0l6a{background-color:#C2FFD6;text-align:center;vertical-align:top}
.tg .tg-lqy6{text-align:right;vertical-align:top}
.tg .tg-cya6{background-color:#C2FFD6;text-align:right}
.tg .tg-s268{text-align:left}
.tg .tg-cgaz{background-color:#C2FFD6;text-align:right;vertical-align:top}
.tg .tg-sjuo{background-color:#C2FFD6;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:center;vertical-align:top}